header {
  display: inline-block;
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  margin-right: calc((100% - 800px) / 2);
  background-color: yellow;
}

header > img {
  height: 50px;
}

nav {
}

a {
}

main {
  display: inline-block;
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  margin-right: calc((100% - 800px) / 2);
  background-color: orange;
}

div {
}

h1 {
}

p {
}

main > img {
  height: 250px;
}
